.form-label {
    font-weight: bold;
  }
  .img-paciente {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ccc;
    display: block;
    margin-bottom: 10px;
  }
  .table td, .table th {
    vertical-align: middle;
  }